    {% extends 'base.html' %} 
    {% block title %}Home{% endblock %}
    {% block content %}
    <header>
        <div class="topnav fixed-top">
            <a href="#">Welcome Home</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
    </header>
    <main role="main" id="main">
        <div class="header">
            <h1>Mizuka</h1>
            <h2>Company Limited</h2> 
            <h4>Are you looking for a sleek custom made software?</h4>
            <p class="lead">We deliver value within budget, time and good quality. This way, we can make sure that our software solution is absolutely the best.

</p>
            <a href="#" type="button" class="btn btn-primary">GET STARTED</a></p>

        </div>
        <div class="row text-center">
            <div class="col md-4">
                <h2>Great Websites and Apps</h2>
                <p class="lead">Do you need good quality websites or apps?</p>
                <p class="lead">Manage cost and reduce waste along your value chain.</p>
            </div>
            <div class="col md-4">
                <h2>Automate Your Business</h2>
		<p class="lead">Do you need to get ahead of your competition today?<p>
                <p class="lead">Get access to real-time business intelligence and analytics response from your teams or electronic sensors.</p>
            </div>
            <div class="col md-4">
                <h2>Great Customer Service</h2>
                <p>Do you need a partner who understands all of your business needs?</p>
                <p class="lead">Get secure, reliable and high quality software solutions that meet your needs.</p>
            </div>
        </div> 
        <nav class="navbar navbar-expand-sm fixed-bottom">
                <div class="col md-4">
                    <p><small><strong><img src="images/fav.png" alt="" width="30"> A product of Mizuka Limited - All rights reserved. &copy; 2020 </small>
                    <br><small>Kensington Court, Argwings Kodhek Road,<br> Kilimani, Nairobi - Kenya.</strong></small></p>
                </div>
                <div class="col md-4">
                    <p>Contact us via <a href="mailto:support@mizuka.co.ke">email</a> </p>
                </div>
                <div class="col md-4">
                    <a href="https://twitter.com/mizuka_ke" target="_blank">Follow us on Twitter</a>
                </div>
            </div>
        </main>
     </div>
    {% endblock %}
